python-dotenv
langchain
langchain-core
langchain-openai
langchain-pinecone
langchain-upstage
langchain-community
langgraph
ipython
text-tools
langchain-google-genai==0.0.6
# blinker
# typing_extensions
# protobuf
# cachetools
# toml
# yaml