python-dotenv
langchain
langchain-core
lngchain-openai
langchain-pinecone
langchain-upstage
langchain-community
langgraph
ipython
text-tools
langchain-google-genai
base_agent
requests
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
requests
googleapis-common-protos
protobuf
cffi
cryptography
# blinker
# typing_extensions
# protobuf
# cachetools
# toml
# yaml